<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Olá Blog</title>
  </head>
  <body>

    <div class="">
      <h1><a href="#">Django Girls Blog</a></h1>
    </div>

    <div class="">
      <p>pulicado 14.06.2014, 12:14</p>
      <h2><a href="#">Meu primeiro post</a></h2>
      <p>
        texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
      </p>
    </div>

    <div class="">
      <p>pulicado 15.06.2014, 12:14</p>
      <h2><a href="#">Meu segundo post</a></h2>
      <p>
        texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
      </p>
    </div>

  </body>
</html>
